{% extends "shoop/front/base.jinja" %}

{% block title %}{{ category.name }}{% endblock %}
{% block content_title %}{% endblock %}

{% block banner %}
    <section class="image-banner"{% if category.image %} style="background-image: url({{ category.image.url }})"{% endif %}>
        <div class="container">
            <h1 class="section-title">{{ category.name }}</h1>
        </div>
    </section>
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">{% trans %}Home{% endtrans %}</a></li>
            {% for c in category.get_ancestors() if c.is_visible(customer=request.customer) %}
                <li><a href="{{ shoop.urls.model_url(c) }}">{{ c.name }}</a></li>
            {% endfor %}
            <li class="active">{{ category.name }}</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container product-list">
        <div class="category-header">
            <form role="form" class="form-inline" method="get" action="" id="sorter">
                <div class="form-group selectpicker">
                    {{ form.sort|safe }}
                </div>
            </form>
        </div>
        <div class="products grid row">
            {% for product in products if shoop.product.is_visible(product) %}
                {{ macros.product_box(product, extra_class="category-view") }}
            {% endfor %}
        </div>
    </div>

    {% set best_selling_products = shoop.general.get_best_selling_products() %}
    {% if best_selling_products %}
        <div class="container">
            <section class="carousel-section">
                <div class="title-bar light">
                    <h2>{% trans %}Best selling products{% endtrans %}</h2>
                </div>
                <div class="product-carousel owl-carousel five">
                    {% for product in best_selling_products if shoop.product.is_visible(product) %}
                        {{ macros.product_box(product) }}
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}
    <div class="container">
        {% include "shoop/front/includes/_hot_deals_carousel.jinja" %}
    </div>

{% endblock %}

{% block extrajs %}
    <script>

        $(function() {
            $("#sorter :input").change(function() {
                $("#sorter").submit();
            });
        });

        $(function() {

            $(document).ready(function() {

                function drawParallax() {
                    requestAnimationFrame(drawParallax);
                    parallaxScrollEvent();
                }
                drawParallax();

            });

            function parallaxScrollEvent() {

                viewportTopPosition = $(window).scrollTop();

                $('[data-parallax="true"]').each(function() {
                    parallaxDistance = viewportTopPosition * $(this).attr('data-speed');
                    $(this).css('transform','translate3d(0, ' + '-' + parallaxDistance +'px, 0)');
                });

            }

        }());

    </script>
{% endblock %}
