<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">Kategoriat</h4>
                    <ul>
                        <li><a href="#">Hiustuotteet</a></li>
                        <li><a href="#">Ripset</a></li>
                        <li><a href="#">Kalusteet</a></li>
                        <li><a href="#">Kynnet</a></li>
                        <li><a href="#">Hiustenpidennykset</a></li>
                        <li><a href="#">Kauneudenhoito</a></li>
                        <li><a href="#">Muut</a></li>
                        <li><a href="#">Tarjoukset</a></li>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Noutomyymälä{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">Pihatörmä 1B</a></li>
                        <li><a href="#">02240 Espoo, Länsikeskus</a></li>
                    </ul>
                    <h4 class="underline">{% trans %}Tilaukset/Asiakaspalvelu{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">044-347 7799</a></li>
                    </ul>
                    <h4 class="underline">{% trans %}Avoinna{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">ma-ti 8-17</a></li>
                        <li><a href="#">ke 8-19</a></li>
                        <li><a href="#">to-pe 8-16</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Tietoa meistä{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">Ota meihin yhteyttä</a></li>
                        <li><a href="#">Tietoa meistä</a></li>
                        <li><a href="#">Toimitukset ja palautukset</a></li>
                        <li><a href="#">Rekisteriseloste</a></li>
                        <li><a href="#">Maksutavat</a></li>
                        <li><a href="#">Toimitusehdot</a></li>
                        <li><a href="#">Tilaa uutiskirje</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Maksutavat{% endtrans %}</h4>
                    <img src="{{ STATIC_URL }}nicca/img/nicca-maksutavat.png">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul>
                    <li>Copyright <i class="fa fa-copyright"></i> 2016 Nicca</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
