<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Categories{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">{% trans %}Hair products{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Eyelashes{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Equipment{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Nails{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Hair extensions{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Beauty care{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Other{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Offers{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Store{% endtrans %}</h4>
                    <ul>
                        <li>{% trans %}Default street 1{% endtrans %}</li>
                        <li>{% trans %}00100 Helsinki, Finland{% endtrans %}</li>
                    </ul>
                    <h4 class="underline">{% trans %}Orders/customer service{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">+358 00 123 45 67</a></li>
                    </ul>
                    <h4 class="underline">{% trans %}Opening hours{% endtrans %}</h4>
                    <ul>
                        <li>{% trans %}Mon-Tue: 8:00 am &ndash; 5:00 pm{% endtrans %}</li>
                        <li>{% trans %}Wed: 8:00 am &ndash; 7:00 pm{% endtrans %}</li>
                        <li>{% trans %}Thu-Fri 8:00 am &ndash; 4:00 pm{% endtrans %}</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}About us{% endtrans %}</h4>
                    <ul>
                        <li><a href="#">{% trans %}Contact us{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}About us{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Delivery & Refund{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Privacy policy{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Payment methods{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Delivery terms{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Subscribe for newsletter{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">{% trans %}Payment methods{% endtrans %}</h4>
                    <img src="{{ STATIC_URL }}nicca/img/nicca-maksutavat.png">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul>
                    <li>{% trans %}Copyright{% endtrans %} <i class="fa fa-copyright"></i> {% trans %}2016 Shoop{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
