<section class="carousel-section">
    <div class="title-bar light">
        <h2>{% trans %}Hot deals{% endtrans %}</h2>
    </div>
    <div class="owl-carousel four">
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
        <a href="/" class="col-inner">
            <img class="deal-image" src="http://placehold.it/500x500">
        </a>
    </div>
</section>
