{% extends "shoop/front/base.jinja" %}
{% block content_title %}{% endblock %}
{% block carousel %}
    {% include "shoop/front/includes/_frontpage-carousel.jinja" %}
{% endblock %}

{% block extra_main_class %}index{% endblock %}

{% block content %}
    <div class="container">
        {% set best_selling_products = shoop.general.get_best_selling_products() %}
        {% if best_selling_products %}
            <section class="carousel-section">
                <div class="title-bar light">
                    <h2>{% trans %}Best selling products{% endtrans %}</h2>
                </div>
                <div class="product-carousel owl-carousel five">
                    {% for product in best_selling_products if shoop.product.is_visible(product) %}
                        {{ macros.product_box(product) }}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        <section class="carousel-section">
            <div class="title-bar light">
                <h2>{% trans %}New products{% endtrans %}</h2>
            </div>
            <div class="product-carousel owl-carousel five">
                {% for product in shoop.general.get_newest_products() if shoop.product.is_visible(product) %}
                    {{ macros.product_box(product) }}
                {% endfor %}
            </div>
        </section>

        {% include "shoop/front/includes/_hot_deals_carousel.jinja" %}
    </div>
{% endblock %}
