{% extends "shoop/front/base.jinja" %}
{% block content_title %}{% endblock %}
{% block carousel %}
    {% include "shoop/front/includes/_frontpage-carousel.jinja" %}
{% endblock %}

{% block extra_main_class %}index{% endblock %}

{% block content %}
    <div class="container">

        {% placeholder "front_content" %}
            {% row %}
                {% plugin "nicca_theme.product_highlight" %}
                    type = "newest"
                    title = "New Products"
                {% endplugin %}
            {% endrow %}
            {% row %}
                {% plugin "nicca_theme.product_highlight" %}
                    type = "best_selling"
                    title = "Best selling products"
                {% endplugin %}
            {% endrow %}
        {% endplaceholder %}

        {% include "shoop/front/includes/_hot_deals_carousel.jinja" %}
    </div>
{% endblock %}
